body {
    margin: 0;
    padding: 0;
}
:root {
    /* Colors */
    --app-blue: #0071e3;
    --app-black-1: #000000;
    --app-black-2: #1d1d1f;
    --app-gray-1: #888888;
    --app-gray-2: #acacac;
    /* Fonts */
    --font-base: 17px;
    --font-family-base: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}