@import "./../../../styles/keyframes/reveal";

.wrapper {
    height: 724px;
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.heroHeadlineWrapper {
    display: flex;
    justify-content: center;
    transition-delay: 0.05s;
    transition: opacity 0.1s ease-in-out;
}

.heroHeadline {
    will-change: opacity, transform;
    text-align: center;
    max-width: 768px;
    padding: 0 1rem 0;
    z-index: 2;
    height: calc( ( ( (100vh - 720px )/ 156 )* ( 369 - 328) ) + 328px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 328px;
    max-height: 369px;
    h1 {
        animation: reveal 1s ease-out 0s 1 normal both;
    }
    h2 {
        animation: reveal 1s ease-out  84.8577ms 1 normal both;
    }
}